<a href="https://colab.research.google.com/github/SunyoungHa/python/blob/main/tuple_lists_and_dicts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# source : https://www.youtube.com/watch?v=gDBzy9Xk68o
import sys
sys.version

'3.7.13 (default, Apr 24 2022, 01:04:09) \n[GCC 7.5.0]'

In [3]:
!uname -a
!lsb_release -a

Linux 85f6933a43c2 5.4.188+ #1 SMP Sun Apr 24 10:03:06 PDT 2022 x86_64 x86_64 x86_64 GNU/Linux
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.6 LTS
Release:	18.04
Codename:	bionic

In [12]:
#What is something you can do in a list you can't do with a tuple?
tpl = ("six", 5, 4.0, "3", "two", "one", "zero")

print(f'tp1[0] : {tpl[0]}')
print(f"tpl[-1] ='z' tuple object doest not support item assigment")

# conver tuple to a list using list()
list_from_tuple=list(tpl)
list_from_tuple

tp1[0] : six
tpl[-1] ='z' tuple object doest not support item assigment

['six', 5, 4.0, '3', 'two', 'one', 'zero']

In [15]:
# conver list to tuple
tuple_from_list=tuple(list_from_tuple)
tuple_from_list

('six', 5, 4.0, '3', 'two', 'one', 'zero')

In [16]:
import random

die_roll=random.randint(1,6)
if die_roll%2==0:
  print(f"{die_roll} is even number")
else:
  print(f"{die_roll} is odd number")

5 is odd number

In [25]:
# Roll two dice and report whether the first die rolls are a greater number than the second
dice_roll=[random.randint(1,6), random.randint(1,6)]
print(f"You rolled {dice_roll}. ", end=" ")  # how to print without a newline at the end of the line

if dice_roll[0]>dice_roll[1]:
  print(f"{dice_roll[0]} is greater number than {dice_roll[1]}")
elif dice_roll[0]<dice_roll[1]:
  print(f"{dice_roll[0]} isn\'t greater number than {dice_roll[1]}")
else:
  print("They are even")

You rolled [5, 6].  5 isn't greater number than 6

In [39]:
# enumerate().print every number from 0 to 20 as digits and its name in words as well as whether it is even or odd

numbers = ("zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten",
           "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen",
           "nineteen", "twenty")

for index, item in enumerate(numbers):
  if index % 2 == 0:
    even = "even"
    print (f"{index: 10} {numbers[index]:10} {even}")

         0 zero       even
         2 two        even
         4 four       even
         6 six        even
         8 eight      even
        10 ten        even
        12 twelve     even
        14 fourteen   even
        16 sixteen    even
        18 eighteen   even
        20 twenty     even

In [50]:
alphabet = {'a': 'alfa', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot', 'g': 'golf', 
            'h': 'hotel', 'i': 'india', 'j': 'juliett', 'k': 'kilo', 'l': 'lima', 'm': 'mike', 'n': 'november', 
            'o': 'oscar', 'p': 'papa', 'q': 'quebec', 'r': 'romeo', 's': 'sierra', 't': 'tango', 'u': 'ukelele', 
            'v': 'victor', 'w': 'whiskey', 'x': 'xray', 'y': 'yankee', 'z': 'zulu'}
word = 'sunshine'
# iterate over letters in a str just like iterating over elements in a list or tuple
for w in word:
  print (alphabet[w], end=" | ")

sierra | ukelele | november | sierra | hotel | india | november | echo |